//page des cards de la formation et des experiences diverses
$color-logo: #851a7f;

h2{
    font-family: 'Arima Madurai', cursive;
}
.card{
    background-color:rgba(236, 236, 233, 0.6);
    width:350px;
    box-shadow: 2px 2px 3px grey;
    transition: all 300ms;
    &:hover{
        transform: scale(1.01)
    }
    h3{
        color: $color-logo;
        font-size:1.5rem;
    }
    ul{
        list-style: none;
    }
    .cardContent{
        font-size:0.9rem;
    }
    img{
        width: 150px;
        height: auto;
        box-shadow: 2px 2px 5px grey;
    }
}
