.title,
.content {
    padding-left:30vw;
    max-width: 40rem;
    padding-right:3vw;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Arima Madurai', cursive;
    img{
        width: auto;
        height: 15rem;
        object-fit: contain;
            
    }
}

.title::before{
    content: '';
    position: absolute;
    border-color: #8102b7;
    border-style: solid;
    border-width: 0 0 3px 0;
    margin-top: 2rem;
    width: 5rem;
}

.popUp{
    font-size: 1rem;
    color: #423e3e;
    width:8rem;
}

a{
    text-decoration: none!important;

}

@media screen and (min-width:630px)
{
    .title,
    .content{
        padding-left:30vw;
        max-width: 50rem;
        padding-right:3vw;
    }
}

@media screen and(min-width:750px)
{
    .title,
    .content{
        padding-left:22vw;
        max-width: 100%;
        margin:auto;
        padding-right:9.5vw;
        font-size: 1.3rem;
    }
    
    .title::before{
        margin-top:3rem;
        width:8rem;
    }

}

@media screen and(min-width:1300px)
{
    .title,
    .content{
        max-width:100rem;
        padding-right:15rem;
        font-size: 1.5rem;
    }
}

@media screen and(min-width:1550px)
{
    .content{
        max-width: 100%;
    }
}