// page des realisations avec tous les formats portable
$color-text: #838080;


#portfolio {
    max-width: 95%;
    margin: auto;
    padding-left:5%;
}
.title,
.content {
    font-family: 'Arima Madurai', cursive;
    img{
        width: auto;
        height: 15rem;
        object-fit: contain;
    }
}

.title::before{
    content: '';
    position: absolute;
    border-color: $color-logo;
    border-style: solid;
    border-width: 0 0 3px 0;
    margin-top: 4.5rem;
    width: 5rem;
}

.popUp{
    font-size: 1rem;
    color: $color-text;
    width:8rem;
    font-family: 'Arima Madurai', cursive;
}
