//footer avec contacts , main tenant phone
$color-logo: #851a7f;
.color-logo{
    color:$color-logo;
}
.color-text{
    color: #838080;
}
   
footer{
    font-family: 'Arima Madurai', cursive;
    .phone{
        width: 117px;
    }
    & li a:hover{
        color: $color-logo!important;  
    }
    & .flag img{
        width:55px;
        height: 35px;
    }
    a p {
        &:hover{
            color: $color-logo;
        }
    }
    .imgFooter{
        width:47px; 
        height:auto;
        object-fit: contain;
    }
    .imgFooter1{
        width:60px;
    }
    .imgFooter2{
        width:74px;
    }
    .imgFooter3{
        width:45px;
        object-fit: contain;
    }
    .imgAurore{
        width:130px;
        object-fit: cover;
    }
}


@media screen and (max-width:500px) {
    footer{
        position: relative; 
    }
    .phone{
        position: absolute; 
        height:140px!important;
        width:auto;
        object-fit: contain;
        left:35%;
        top:4rem;
    }
    .google{
        margin-bottom:8rem;
        padding: 0 2rem;
    }
    .contact{
        max-width:10rem;
        margin: auto;
        padding: 3rem 0;
    }
}
        

@media screen and (min-width:700px) {
    .imgAurore{
        display: block!important;
    } 
}

@media screen and (max-width:700px) {
 .socialNetworks{
        justify-content: center!important;
        align-items: center!important;
    }
}
