.header{
    padding-top:2rem;
    margin:auto;
    max-width: 500px;
}

.aurore{
    border-radius: 40px;
    box-shadow: 4px 5px 6px  rgb(92, 90, 90);
    width:150px;
    height: auto;
    margin-left:6rem;
}

h1{
    font-size: 1.5rem;
    font-family: 'Alice', cursive;
    text-shadow: 3px 4px 2px rgb(189, 188, 188);
    line-height: 0.9;
    padding: 0.7rem;
    & p:nth-child(2){
        padding-left:2rem;
    }
    & p:nth-child(3){
        padding-left:5rem;
    }
}

.logo{
    width: 60px;
    height: auto;
    margin-left:5px;
    margin-bottom:2.5rem;
}

@media screen and (max-width:450px){
    .header{
        padding-top: 0;
    }
    .aurore{
        width: 110px;
        height: 120px;
        margin-left:6.5rem;
    }
    h1{
        font-size: 1.3rem;
        & p:nth-child(2){
            padding-left:1rem;
        }
        & p:nth-child(3){
            padding-left:3rem;
        }
    }
    .logo{
        width: 45px;
    }
}
@media screen and(min-width:750px) {
    .header {
        column-gap: 2rem;;
        .aurore{
            width:200px;
        }
        h1 p{
        font-size:2.5rem!important;
        line-height: 1.2;
            &:nth-child(2){
                padding-left: 5rem;
            }
            &:nth-child(3){
                padding-left: 11rem;
            }
        }
        .logo{
            width:100px;
        }
    }
}


@media screen and(min-width:1100px) {
    .header{
        column-gap:4rem;
        .aurore{
            width:300px;
        }
        h1 p{
            font-size: 3.5rem!important;
            margin-top:1rem;
        }
        .logo{
            width:150px;
        }
    }
}


@media screen and(min-width:1400px) {
    .header{
        column-gap:6rem;
    }
}

@media screen and(min-width:1600px) {
    .header{
        column-gap:10rem;
    }
}