nav{
    height: 100%;;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
    ul{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color:rgba(54, 50, 50, 0.7);
        padding-left:75px!important;
        padding-right:1rem;
        height:100%!important;
        min-height:100%;
        line-height: 3rem;
        font-size: 2em;
        font-family: 'Arima Madurai', cursive;
        list-style:none;
        & .link {
            color:rgb(255, 255, 255);
            text-decoration: none;
        }
        .link-active{
            color:#ecaae9;
        }
    } 
} 

.btnMenu {
    position: absolute;
    top:2.5rem;
    left:-2.5rem;
    right:100%;
    
    & button {
        backdrop-filter: blur(1.5px);;
        background-color:rgba(223, 218, 218, 0.2);
        display: flex;
        font-size:1.8rem;
        transform: rotate(-90deg);
        border: none!important;
        color: #000;
    }
    & .displayMenu{
        transform: rotate(90deg);
        padding-bottom:1rem;
    }
    &:hover,
    &:focus{
        outline: 0!important;
        box-shadow: 0 0 0 transparent;
    }
}

@media screen and (max-width:500px) {
    .btnMenu {
        margin-left:0.8rem!important;
        button{
        font-size: 1.2rem;
        }
        .displayMenu{
            width: 18px;
            height: auto;
        }
    }
    nav ul{
        font-size:1.5rem!important;
        padding-left:45px!important;
    }
    
}
