.wrapper{
    position: fixed;
    z-index: 7;
    top: 0;
    height: 100%;
    max-height: 100%;
    width: 6rem;
    margin: 0 0 0 0;
}

.bg-color{
    background-color: #f8ebfe;
}

.bd-color{
    border-color: #8102b7!important;
}

.sidebar{
    width: 75px;
    height: auto;
}

.html-css{
    width:48%;
}

.mongoDB{
    width: 90px;
}