
// proposition de travail pour les devs
@media screen and (max-width:500px) {
    .service{
        padding-left:0!important;
    }
}

@media screen and (max-width:750px) {
    li{
        padding-left:5%!important;
    }
}

@media screen and (min-width:750px) {
    .text li{
        padding-left:17vh;
    }
}

@media screen and (min-width:1100px) {
    .text{
        max-width:90%;
        margin:auto;
    }
}
