.text{
    padding-left:9rem;
    & p::first-letter{
        padding-left: 2.5rem;
    }
}


@media screen and (max-width:450px)
{
    .text{
        padding-left:7.5rem;
        p {
            font-size: 0.8rem;
            padding-right:5px!important;
        }
    }
}

@media screen and (min-width:630px)
{
    .text{
        padding-left:30vw;
        max-width: 40rem;
        padding-right:3vw;
    }
}

@media screen and(min-width:750px)
{
    .text{
        padding-left:22vw;
        max-width: 55rem;
        margin:auto;
        padding-right:12vw!important;
    }
}

@media screen and(min-width:1100px)
{
    .text{
        max-width: 90%;
        padding-right:9%!important;
        font-size:1.3rem;
        padding-left:15vw;
    }
}

@media screen and(min-width:1350px)
{
    .text{
        max-width: 73%;
        padding-left:12vw;
    }
}

@media screen and(min-width:1550px)
{
    .text{
        max-width: 70%;
    }
}